/**
*
* Roadmap
*
*
*
* 1. Grid Layout
*
* 2. Title
*
*
**/

/* ==========================================================================
1. Grid Layout
========================================================================== */

.l-grid-wrapper {

  > div {
    display: grid;
    grid-template-columns: 83.33% 16.66%;
    max-width: 1440px;
    min-width: 720px;
    margin: 0 auto;

    @include breakpoint("tablet"){
    grid-template-columns: 100%;
  }

  }

}

.l-grid {
  display: grid;
  grid-auto-rows: 1fr;
  max-width: 1440px;
  margin: 0 auto;
}

.l-grid--1{
  grid-template-columns: repeat(1, 1fr);
}

.l-grid--3{
  grid-template-columns: repeat(3, 1fr);
}

.l-grid--5{
  grid-template-columns: repeat(5, 1fr);
}

.l-grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.l-grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

/* ==========================================================================
2. Title
========================================================================== */

.l-page-title{

  @include breakpoint($maxWidth: 1187px){
    line-height: 0.8;
    margin-bottom: 26px;
  }

  @include breakpoint("mobile-large"){
    font-size: 3.45rem;
    line-height: 1.1;
  }
}

.l-page-subtitle{

  line-height: 1.2;

  @include breakpoint($maxWidth: 830px){
    line-height: 1;
  }
}